<div class="container">
  <div class="pt-5">

    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </div>

    <div class="card">
      <div class="card-header">
        <div class="row">

          <div class="col-6">
            <h3>Todos os Livros</h3>
          </div>

          <div class="col-6 text-end">
            <button class="btn btn-primary" (click)="createBookRequest()">Criar Livro</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Preço</th>
            <th scope="col">Autor</th>
            <th scope="col">Data</th>
            <th scope="col">Ação</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of bookList; index as ind">
            <th scope="row">{{ind + 1}}</th>
            <td>{{item.title}}</td>
            <td>{{item.price | currency: 'USD'}}</td>
            <td>{{item.author}}</td>
            <td>{{item.createTime | date: 'medium'}}</td>
            <td>
              <button class="btn btn-primary me-1" (click)="editBookRequest(item)">Editar</button>
              <button class="btn btn-danger" (click)="deleteBook(item, ind)">Deletar</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-book [book]="selectedBook" (save)="saveBookWatcher($event)"></app-book>
