<header id="masthead" class="site-header" role="banner"> 
    <div class="header-wrap">
        <div class="top-header">
            <div class="top-bar">
                <div class="wrap">
                    <aside id="text-2" class="widget widget_contact"> 
                        <div class="textwidget">
                            <ul>
                                <li>
                                    <a title="Mail Us" href="mailto:support@d3n15_tec.com">
                                        <i class="fa fa-envelope-o"></i>
                                    </a>
                                </li>
 
                            </ul>
                        </div>

                    </aside>

                    <div class="right-top-bar">
                        
                        <div class="social-links clearfix" style="margin-top: auto;">
                            <ul>
                            <li id="menu-item-112" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-112">
                                <a ><span class="screen-reader-text">
                                    <i class="fa fa-facebook-official"></i>
                                </span></a></li>
                            <li id="menu-item-432" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-432">
                                <a ><span class="screen-reader-text">
                                    <i class="fa fa-instagram"></i>
                                </span></a></li>
                            <li id="menu-item-434" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-434">
                                <a ><span class="screen-reader-text">
                                    <i class="fa fa-linkedin"></i>
                                </span></a></li>
                            </ul> 
                        </div>
                        
                        <nav class="top-bar-menu">
                                <div id="mega-menu-wrap-top-menu" class="mega-menu-wrap">
                                    <ul id="mega-menu-top-menu" class="mega-menu max-mega-menu mega-menu-horizontal" data-event="hover_intent" data-effect="fade_up" data-effect-speed="200" data-effect-mobile="disabled" data-effect-speed-mobile="0" data-panel-width=".wrap" data-mobile-force-width="false" data-second-click="go" data-document-click="collapse" data-vertical-behaviour="standard" data-breakpoint="767" data-unbind="true" data-mobile-state="collapse_all" data-hover-intent-timeout="300" data-hover-intent-interval="100">
                                        <li class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon mega-icon-left mega-menu-item-121" id="mega-menu-item-121">
                                            <a class="dashicons-admin-users mega-menu-link" href="#" tabindex="0"><i class="fa fa-user"></i>Minha conta</a>
                                        </li>
                                        <li class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon mega-icon-left mega-menu-item-122" id="mega-menu-item-122">
                                            <a class="dashicons-unlock mega-menu-link" href="#" tabindex="0"><i class="fa fa-lock"></i> Login</a>
                                        </li>
                                    </ul>
                                </div> 
                        </nav> 
                    </div>
                </div>
            </div>


            <div id="site-branding">
                <div class="wrap">
                    <a href="" class="custom-logo-link" rel="home" aria-current="page">
                        <img width="500" height="500" src="/assets/imagens/site-logo.png" class="custom-logo" alt="Shopping Cart" sizes="(max-width: 500px) 100vw, 500px">
                    </a>
                    <div id="site-detail"> 
                        <a href="" class="custom-logo-link2" rel="home" aria-current="page">
                            <img width="500" height="500" src="/assets/imagens/logo.jpg" class="custom-logo2" alt="Shopping Cart" sizes="(max-width: 500px) 100vw, 500px">
                        </a>
                        <div id="site-description"> d3n15 Tec </div> 
                    </div>
                    <div class="header-right">
                        <div id="search-box" class="clearfix">
                            <div class="widget woocommerce widget_product_search">
                                <form class="woocommerce-product-search" >
                                    <input type="search" id="woocommerce-product-search-field-0" class="search-field" 
                                        placeholder="Procurar produtos…" value="" name="s">
                                    <button type="submit" value="Search" class="buscaHead"><i class="fa fa-search colorBusca" aria-hidden="true"></i></button>
                                    <input type="hidden" name="post_type">
                                </form>
                            </div> 
                        </div> 
                        <div class="header-right">
                            <div class="cart-box">
                                <div class="sx-cart-views">
                                    <a href="" class="wcmenucart-contents">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="cart-value">0</span>
                                    </a>
                                    <div class="my-cart-wrap">
                                        <div class="my-cart">Total</div>
                                        <div class="cart-total">R$ 0.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>   
            </div>


                <div id="sticky-header-sticky-wrapper" class="sticky-wrapper" style="height: 42px;">
                    <div id="sticky-header" class="clearfix" >
                        <div class="wrap">
                            <div class="main-header clearfix">
                                
                                        <nav id="site-navigation" class="main-navigation clearfix" role="navigation" aria-label="Main Menu">

                                            <div id="mega-menu-wrap-primary" class="mega-menu-wrap">

                                                <ul id="mega-menu-primary" class="mega-menu max-mega-menu mega-menu-horizontal nav-menu">                                                   

                                                    <li class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-has-icon mega-icon-left 
                                                        mega-menu-item-185" id="mega-menu-item-185" aria-haspopup="true">

                                                           <ul class="mega-sub-menu">

                                                                <li (mouseover)="changeText=true" (mouseout)="changeText=false" class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page 
                                                                    mega-has-icon mega-icon-left mega-menu-item-205" id="mega-menu-item-205">
                                                                    <i class="fa fa-home item1" aria-hidden="true"></i>
                                                                        <a class="dashicons-store mega-menu-link" href="">Home</a>
                                                                    <i class="fa fa-sort-asc item11" aria-hidden="true"></i>   
                                                                </li>

                                                                <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page 
                                                                    mega-has-icon mega-icon-left mega-menu-item-204" id="mega-menu-item-204">
                                                                    <i class="fa fa-list item2" aria-hidden="true"></i>
                                                                        <a class="dashicons-cart mega-menu-link" href="">Sessão</a>
                                                                    <i class="fa fa-sort-asc item11" aria-hidden="true"></i> 
                                                                </li>

                                                                <li class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom 
                                                                    mega-has-icon mega-icon-left mega-menu-item-187" id="mega-menu-item-187">
                                                                    <i class="fa fa-gift item3" aria-hidden="true"></i>
                                                                        <a class="dashicons-admin-customizer mega-menu-link" href="">Shop</a>   
                                                                </li>

                                                                <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page 
                                                                    mega-has-icon mega-icon-left mega-menu-item-78" id="mega-menu-item-78">
                                                                    <i class="fa fa-bookmark item4" aria-hidden="true"></i>
                                                                        <a class="dashicons-editor-code mega-menu-link" href="">Blog</a>
                                                                </li>

                                                                <li class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom 
                                                                    mega-has-icon mega-icon-left mega-menu-item-186" id="mega-menu-item-186">
                                                                    <i class="fa fa-paper-plane-o item5" aria-hidden="true"></i>
                                                                        <a class="dashicons-phone mega-menu-link" href="">Contato</a>
                                                                </li>

                                                           </ul>
                                                    </li>

                                                </ul>

                                            </div> 
                                            

                                            <ul *ngIf="changeText" class="mega-menu-primary-modal" style="width: 1138.55px; left: 0px;" >

                                                <li class="mega-menu-item-211">
                                                    <a class="mega-menu-link"  href="#">
                                                        "Product Category"
                                                        <span class="mega-indicator" data-has-click-event="true"></span>
                                                    </a>

                                                    <ul class="mega-sub-menu">
                                                        <li class="mega-menu-item-206" id="mega-menu-item-206">
                                                            <a class="dashicons-clock mega-menu-link" 
                                                                href="">
                                                                <span class="mega-description-group">
                                                                    <span class="mega-menu-title">Uncategorized</span>
                                                                        <span class="mega-menu-description">Source for luxury watches</span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        <li class="mega-menu-item-207" id="mega-menu-item-207">
                                                            <a class="dashicons-admin-appearance mega-menu-link" href="">
                                                                <span class="mega-description-group">
                                                                    <span class="mega-menu-title">Furniture</span>
                                                                        <span class="mega-menu-description">Free Delivery in Town</span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        <li class="mega-menu-item-208" id="mega-menu-item-208">
                                                            <a class="dashicons-lightbulb mega-menu-link" 
                                                            href="">
                                                            <span class="mega-description-group">
                                                                <span class="mega-menu-title">Glasses</span>
                                                                    <span class="mega-menu-description">Fashion Glasses Frames</span>
                                                                </span>
                                                            </a>
                                                        </li> 
                                                    </ul>
                                                </li>



                                            </ul>
                                    </nav> 
                            </div> 
                        </div> 
                    </div>
                </div>




        </div>
    </div>
</header> 